.cf7sg-popup{
  position: inherit !important;
}
.wpcf7-form-control{
  &.wpcf7-mathcaptcha {
    display: inline-block;
    max-width: 5rem;
  }
}
.wpcf7-response-output {
    position: absolute;
    top: 4rem;
    max-width: 30rem;
    padding: 2rem !important;
    font-size: 144%;
    font-weight: bold;
    color: $white;
    // good: $success-color;
    // medium: $warning-color;
    // bad: $alert-color;
    &.wpcf7-mail-sent-ok{
      background: rgba($success-color,0.9);
      border: none;
    }
    &.wpcf7-mail-sent-ng{
      background: rgba($alert-color,0.9);
      border: none;
    }
    &.wpcf7-validation-errors{
      background: rgba($warning-color,0.9);
      color: $black;
      border: none;
    }
  }
