.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: rgba(255,255,255,0.85)!important;
}

.leaflet-container {
  a {
    color: $anchor-color !important;
    &:hover {
      color: $anchor-color-hover;
    }
  }
}
