.vbox-overlay {
  background-color: rgba(200,200,200,0.7);
}
.vbox-content{
  max-width: 80vw;
  max-height: 80vh;
  left: 10vw;
}
.vbox-close{
  top: 5vh;
  right: 5vw;
}

.vbox-next span, .vbox-prev span{
  border-top-color: $anchor-color;
  border-right-color: $anchor-color;
}
.vbox-close{
  font-size: $body-font-size * 3;
  color: $anchor-color;
}
.vbox-container img {
  max-height: 75vh;
}
