// Fix the issue where the WP admin-bar overlaps the mobile menu
#wpadminbar {
//  position: fixed !important;
}

// Make sure that the WP admin-bar does not overlap Foundation components
body.admin-bar {
  // .off-canvas {
  //   &.position-right {
       // Avoid overlap with wp admin bar
  //    top:32px !important;
  //   }
  // }
  // Offset sticky top bar
  &.f-topbar-fixed {
    .sticky.fixed {
      margin-top: rem-calc(32);
    }
  }
  // Offset mobile off-canvas menu
  &.offcanvas {
    .off-canvas.is-open {
      top: rem-calc(46);
      @include breakpoint(783) {
        top: rem-calc(32);
      }
    }
  }
}

// customize the loggin
// https://codex.wordpress.org/Customizing_the_Login_Form
//
.login{
  background: scale-color($secondary-color, $lightness: 80%);
  &.wp-core-ui {
  }
  #backtoblog a:hover, #nav a:hover, h1 a:hover{
    &:hover{
      color: $primary-color;
    }
  }
  .button, .button-primary {
    background: $primary-color;
    border-color: $primary-color;
    &.focus,&.hover,&:focus,&:hover{
      background: $primary-color;
      border-color: $primary-color;
    }
    &.focus, &:focus{
      box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary-color;
    }
  }
  .button-secondary {
    color: $primary-color;
    background-color: $white;
    border-color: $primary-color;
    &.focus,&.hover,&:focus,&:hover{
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
// .login form .input, .login form input[type=checkbox], .login input[type=text]{
// }
