.accordion-title {
	font-weight: bold;
	font-variant: all-small-caps;
}
.accordion-item{
	ul {
		margin-left: 0;
		margin-bottom: $global-margin;
		list-style-type: none;
	}
	li {
		text-indent: -7rem;
		padding-left: 7rem;
	}
}
