.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

%button-tgb,
.button-tgb{
  @include button();
  background: none;
  // border: 1px dashed black;
  padding: $global-padding;
  text-align: center;
  margin: 1.5rem 0;
  a {
    padding:0.3rem;
    margin:0;
  }
}

input[type='submit'],
input[type='button'],
.button{
  @extend %button-tgb;
  background: $primary-color;
  border-radius: $button-radius;
  box-shadow: none;
}
%checkbox-tgb,
.cf7sg-container input[type='checkbox'] {
  margin:$global-margin;
  &:before {
    // content: '\2713\0020';
    content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23fff%27%2F%3E%3C%2Fsvg%3E);
    font-size: $body-font-size * 1.5;
    line-height: $global-lineheight / 3;
    margin: -$global-margin / 2;
    padding: 0 0.2rem;
    color:transparent;
    background-color: scale-color($primary-color, $lightness: 70%);
    border: 1px solid $primary-color;
  }
  &:checked:before  {
    content:url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23fff%27%2F%3E%3C%2Fsvg%3E);
    margin: -$global-margin / 2;
    padding: 0 0.2rem;
    color: $white;
    background-color: $primary-color;
  }
}
