.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: rem-calc(200);
  height: 40vw; //calc(100vw / 2.5);
  @include breakpoint(medium) {
    height: rem-calc( ( ( $grid-row-width / $grid-column-count * 9 ) - ($global-margin * 2) ) / 2.5 );
    // height: rem-calc(300);
  }

  @include breakpoint(xlarge) {
    // height: rem-calc(400);
  }
}
