.home {
  @include breakpoint(small) {
    .sticky-container {
      // margin-bottom: 0;
    }
    .egv_title_underline h3,
    .egv-section-title h3{
      min-height: 2.2rem;
    }
  }
  @include breakpoint(medium) {
    .sticky-container {
    }
    .off-canvas.is-closed {
      visibility: unset;
      right: 28vw;
      height: $egv_guiesmap-height+1rem;
      background-color: scale-color($offcanvas-background, $alpha: 9.0);
    }
  }
}
