.main-container {
  @include xy-grid-container();
  @include breakpoint(small) {
    margin-top: $global-margin * 2;
  }
  @include breakpoint(medium) {
    margin-top: 0;
  }
}

.main-grid {
  @include xy-grid();
  @include breakpoint(small) {
    // .egv_title_underline,
    // .egv-section-title {
    //   margin-bottom: $global-margin;
    //   height: 3rem;
    //   h3 {
    //     border-bottom:1px solid $medium-gray;
    //     font-variant: all-small-caps;
    //   }
    // }
    .egv_category_archive {
      article {
        @include xy-cell(6);
        .egv_square {
          padding-bottom: 100%;
          .egv_square_overlay{
            padding: $global-padding / 4;
          }
        }
      }
    }
    .egv_category_archive_news {
      article {
        @include xy-cell(12);
        .egv_square {
          height: rem-calc( ( $grid-row-width / 8 ) - ( $global-margin * 2 ) );//$archive-news-article-height;
          .egv_square_overlay{
            padding: $global-padding;
          }
        }
      }
    }
    .egv_experiencesmap,.egv_guiesmap{
      height: 40vh;
      margin-bottom: 3.7rem;
      background-color: $light-gray;
    }
    .egv_category_archive,.egv_category_archive_news  {
      @include xy-grid();
      @include xy-gutters($global-margin * 2, 'padding', right left, $negative:true); //to avoid margins on inside squares
      article {
        margin-bottom: $global-margin;
        overflow: hidden;
        .egv_square {
          position: relative;
          width: 100%;
          background-color: $light-gray;
          background-position: center center;
          background-repeat: no-repeat;
          background-size:cover;
          .egv_square_overlay{
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            * {
              color: $white;
            }
            h2 {
              font-size:$body-font-size;
              line-height:1.1rem;
              a {
                font-weight: bold;
                &:hover{
                  color: $primary-color;
                }
              }
            }
            footer {
              position: absolute;
              bottom: $global-margin;
              max-height: $paragraph-lineheight * 3;
              overflow: hidden;
            }
          }
        }
        .excerpt, .post-excerpt, .post-wysiwygsummary {
          font-size: $body-font-size * 0.85;
          line-height: 1rem;
          a {
            color:transparent;
          }
        }
        &:hover{
          .egv_square_overlay{
            display: inline-block;
          }
        }
      }
    }
  }
  @include breakpoint(medium) {
    .egv_category_archive {
      article {
        @include xy-cell(3);
        .egv_square{
          .egv_square_overlay{
            padding: $global-padding/2;
          }
        }
      }
    }
    .egv_category_archive_news {
      article {
        @include xy-cell(6);
        .egv_square{
          height: rem-calc((((((($grid-row-width / 12)*9))/2)/2)-($global-margin * 2)) * 1);
          .egv_square_overlay{
            padding: $global-padding/2;
          }
        }
      }
    }
    .egv_experiencesmap,.egv_guiesmap{
      height: 60vh;
      margin-bottom: $global-margin;
      height: $egv_guiesmap-height;
    }
  }

  &.sidebar-left {
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
      .entry-content {
        p > a, span > a {
          border-bottom: 1px $body-font-color dashed;
        }
      }
      .accordion-title {
        @include accordion-title;
        line-height: $paragraph-lineheight;
        &::before {
          margin-top: -0.8rem;
          left:0;
          right: auto;
          color: $primary-color;
        }
      }
      .is-active > .accordion-title::before {
        content: '\2013';
      }
    }

    @include breakpoint(medium) {
      @include xy-cell(12);
    }
    figure.is-type-video,
    figure.wp-block-embed {
      iframe {
        @include breakpoint(small) {
          width: 100%;
          height: 51vw;
        }
        @include breakpoint(medium) {
          width: 100%;
          height: 38vw;
        }
        @include breakpoint(xlarge) {
          width: 100%;
          height: 27vw;
        }
      }
    }
  }

  .sidebar {
    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: inline-block;
      @include xy-cell(3);
   //   order: 1;
      margin-left: 0;
    }
  }
}

.egv_title_underline,
.egv-section-title {
  margin-bottom: $global-margin;
  min-height: 3rem;
  h3 {
    border-bottom:1px solid $medium-gray;
    font-variant: all-small-caps;
  }
}
