@include breakpoint(small) {
  .footer-container {
    border-top: 1px solid $medium-gray;
    margin-top: rem-calc(30);
    // background-color: scale-color($body-background, $lightness: -2%);
    .footer-grid-container {
      @include xy-grid-container();
      margin-top: $global-margin;
      .footer-grid {
        @include xy-grid();
        @include flex-align (left);
        section {
          float: left;
          display: inline-block;
          &.auto{
          }
          &.shrink {
          }
          &.widget_media_image{
            img{
            }
          }
        }
        h6 {
          font-size: $small-font-size;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
    }
    .credits-footer{
      @include xy-grid-container();
      margin-top: $global-margin;
      .credits-footer-grid{
        @include xy-grid();
        @include flex-align (left);
        p{
          @include xy-cell (auto);
          font-size: $body-font-size * 0.6;
          color: $medium-gray;
          margin-left: 0;
        }
        a{
          color: scale-color($medium-gray, $lightness: -30%);
          &:hover{
            color: $anchor-color-hover;

          }
        }
      }
    }
  }
}
@include breakpoint(medium) {
  .footer-container {
    margin-top: rem-calc(60);
    .footer-grid-container {
      .footer-grid {
        @include xy-cell-offset(3);
        @include flex-align (justify);
        section {
          max-width: 85%;
          margin-right:$global-margin;
        }
      }
    }
    .credits-footer{
      .credits-footer-grid{
        @include flex-align (justify);
        p{
          @include xy-cell (shrink);
          margin-left: 0;
          font-size: $body-font-size * 0.8;
        }
      }
    }
  }
}
@include breakpoint(large){
  .footer-container {
    .footer-grid-container {
      .footer-grid {
        section {
        }
      }
    }
    .credits-footer{
      .credits-footer-grid{
        p{
        }
      }
    }
  }
}
