.site-header-container {
  min-height: $site-header-min-height;
  background-color: $body-background;
  &.sticky {
    &.is-stuck {
      z-index:1050;
    }
  }
}
.site-header {
  @include breakpoint(small) {
    @include xy-grid-container();
    @include xy-grid();
    align-items: end;
    .site-title{
      @include xy-cell(shrink);
      margin-left:0;
      padding-top: $global-padding * 3;
      padding-left: $global-padding;
      .site-custom-logo {
          max-width: 50vw;
        img {
          max-height: $global-padding * 3;
          width: auto;
        }
      }
      .site-name{
      }
    }
    .site-navigation{
      padding-top: $global-padding ;
      flex-basis: 100%;
    }
    .top-bar{
      .top-bar-right{
        @include xy-cell(auto);
        display: flex;
        align-items: center;
        margin-left: 0;
        .menu-icon {
          margin-left: 1rem;
        }
      }
      .menu a{
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }//end site-header (small)
  @include breakpoint(medium) {
    .site-title{
      margin-left:0;
      padding-left: 0;
      @include xy-cell(auto);
      .site-custom-logo {
        max-width: 30vw;
        img {
        }
      }
      .site-name{
      }
    }
    .site-navigation {
      flex-basis: unset;
    }
    .top-bar{
      padding-bottom: 0;
      .top-bar-right{
        @include xy-cell(shrink);
        margin-left: $global-margin;
      }
      .menu a{
        padding-left: $global-margin;
      }
    }
  }//end site-header (medium)
}//end site-header
.egv_title {
  @include breakpoint(small) {
    @include xy-grid-container();
    @include xy-grid();
    padding-top: $global-padding * 2;
    h3 {
      @include xy-cell(auto);
      @include xy-gutters();
    }
  }
  @include breakpoint(medium) {
  }
}
