// icons
.menu-icon.close-button {
  position: relative;
  display: inline-block;
  vertical-align: unset;
  width: 20px;
  height: 16px;
  padding: $global-menu-padding;
  margin-bottom: $global-margin;
  cursor: pointer;
  &::after {
    position: absolute;
    top: -1rem;
    left: 1.7rem;
    display: inline-block;
    width: unset;
    height: unset;
    background: none;
    box-shadow: unset;
    content:'\1F5D9';
    font-size: 1.7rem;
  }
  &:hover::after {
    background: unset;
    box-shadow: unset;
  }
}

// menu modifications
.site-title-bar {
  padding-left: $global-padding;
}
.mobile-off-canvas-menu,
.menu-off-canvas-menu {
  @include breakpoint(small) {
    padding: $global-padding * 2;
    padding-top: $global-padding *6 ;
    &.position-right {
      top: 0;
    }
    .is-active > a {
      font-weight: bold;
    }
    hr {
      margin:0;
      border-color: scale-color($primary-color, $lightness: -80%);
    }
    li {
      padding: $global-menu-padding;
      max-width: unset;
      &.menu-item-has-children{
        padding-top: $global-padding * 2;
        // border-top: $hr-border;
      }
      a {
        padding: 0;
        &:hover {
          font-weight: bold;
        }
      }
      .nested{
        padding-top: $global-padding *0.4;
        a{
          color: scale-color($body-font-color, $lightness: 30%);
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
  @include breakpoint(medium) {
    padding: $global-padding;
    &.position-right {
      top: unset;
    }
    li {
      max-width: 22rem;
    }
    .close-button {
      display:none;
      // float: left;
      // padding: unset;
    }
  }
  @include breakpoint(large) {
  }
}
// .site-navigation,
.off-canvas-content .sidebar, .off-canvas-content .lang-item a:after{
  font-size: rem-calc(12);
}
  // height: 100vh;
.sidebar{
  * {
    text-transform: lowercase;
  }
  .menu{
    a {
      padding-left: 0;
      padding-bottom: 0;
    }
    li {
      width: 100%;
    }
  }
  .hr-top, .raya-arriba, .ratlla-dalt{
    margin-top: $global-margin;
    border-top: $hr-border;
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
